services:
  postgres:
    image: postgres:15-alpine
    container_name: eha_connect_db
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: eha_connect
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
